<h3>Launches</h3>

@page "/launches"

@if (launches == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Tentative</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var launch in launches)
            {
                <tr>
                    <td>@launch.Id</td>
                    <td>@launch.MissionName</td>
                    <td>@launch.IsTentative</td>
                    <td>@launch.LaunchDateLocal</td>
                </tr>
            }
        </tbody>
    </table>
}
